<div class="container container-bird" style="margin-top: 50px;">
  <h1 class="stylized">Add your Bird</h1>
  <p class="bird-information">Feel free to give information about your Bird</p>
  <div class="row align-items-start">
    <%= simple_form_for(@bird) do |f| %>
      <%= f.input :name, label: "ðŸ”¤ Name" %>,
      <%= f.input :chant_url, label: "ðŸŽ¶ Chant Url" %>,
      <%= f.input :common_family, label: "ðŸ¦ Common Family" %>
      <%= f.input :geography, label: "ðŸª Geography" %>
      <%= f.input :price, label: "ðŸ’¶ Price (per day)" %>
      <%= f.submit "Add a bird", class:"btn btn-outline-dark" %>
    <% end %>
  </div>
</div>
