<div>
<div class="row">
  <div class="col-8">
    <div class="row align-items-start">
      <% @birds.each do |bird| %>
      <div class="col">
        <div class="card card-bottom" style="width: 18rem;">
          <%= cl_image_tag bird.picture.key, width: 286, height: 200, crop: :auto, gravity: :auto %>
          <div class="card-body">
            <h5 class="card-title"><%= bird.name %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= bird.common_family %></h6>
              <iframe class="iframe" src=<%= bird.chant_url %> scrolling='no' frameborder='0' width="200"></iframe>
            <%= link_to "Details", bird_path(bird.id), class:"btn btn-outline-dark" %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div class="col-4">
      <div style="width: 100%; height: 600px; top:0; position: sticky !important; height: 100vh;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
</div>
</div>
