<div class="container">
  <div class="row align-items-start">
    <% @birds.each do |bird| %>
    <div class="col">
      <div class="card card-bottom" style="width: 18rem;">
        <img class="card-img-top img-resizing" src="https://source.unsplash.com/random/?bird/sig=<%= bird.id %>/orientation=landscape" alt="Bird">
        <div class="card-body">
          <h5 class="card-title"><%= bird.name %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= bird.common_family %></h6>
            <iframe class="iframe" src=<%= bird.chant_url %> scrolling='no' frameborder='0' width="200"></iframe>
          <%= button_to "Details", bird_path(bird), class:"btn btn-outline-dark" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
