

<div class="container">
  <h1><%= @bird.name %></h1>
  <div class="row">
    <div class="col">
      <div class="card" style="width: 600px">
        <div style="background: #051937; background: -webkit-linear-gradient( to right bottom, #051937, #011432, #000f2d, #000728,#000000); background: linear-gradient(to to right bottom, #051937, #011432, #000f2d, #000728,#000000);">
          <%= cl_image_tag @bird.picture.key, :crop=>"fill", :gravity=>"auto", style:"height: 400px; width:100%; object-fit: scale-down; object-position: center;" %>
        </div>
        <%# <img style="height: 400px; object-fit: cover;"  src="https://source.unsplash.com/random/?bird/" alt="bird"> %>
        <div class="card-body">
          <iframe class="iframe" src=<%= @bird.chant_url %> scrolling='no' frameborder='0' width="400"></iframe>
          <h3>Family: <%= @bird.common_family %></h3>

          <h3>Origin: <%= @bird.geography%></h3>
        </div>
      </div>
    </div>

    <div class="col">
      <div>
        <%= render "bookings/formBooking", bird: @bird, booking: @booking %>
      </div>
    </div>
  </div>
</div>
