<div class="show-container">
  <%# le content %>
  <div class="col">
  <h1><%= @bird.name %></h1>
    <div class="card" style="width: 600px">
      <img style="height: 400px; object-fit: cover;"  src="https://source.unsplash.com/random/?bird/" alt="bird">
      <div class="card-body">
        <iframe class="iframe" src=<%= @bird.chant_url %> scrolling='no' frameborder='0' width="400"></iframe>
        <h3>Family: <%= @bird.common_family %></h3>

        <h3>Origin: <%= @bird.geography%></h3>
      </div>
    </div>
  </div>
  <%# fin du content %>
  <div class = "right-corner" >
  <%# form du booking %>
    <div class="d-flex flex-column bookform">
      <%= render "bookings/formBooking", bird: @bird, booking: @booking %>
    </div>
  <%# form du booking %>

    <div class = "map" style="width: 100%; height: 200px; top:0; position: sticky !important; height: 100vh;"
      data-controller="map"
      data-map-markers-value="<%= @marker.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

</div>
